.tab {
  margin-bottom: 20px;
  &__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #dfe5ec;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
  }
}
