body {
	background-color: #f3f7fa;
	font-family: Arial, Helvetica, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	padding: 50px 20px;
}

.app {
	max-width: 754px;
	margin: 0 auto;
	&__container {
		@media screen and (min-width: 1024px) {
			display: flex;
			flex-flow: row nowrap;
			column-gap: 20px;
		}
	}
	&__filter {
		margin-bottom: 20px;
		flex: 1 0 232px;
		@media screen and (min-width: 1024px) {
			margin: 0;
		}
	}
	&__content {
		flex: 1 0 502px;
	}
}
